body {
    /* background-image: url("https://source.unsplash.com/1600x900/?math"); */
    background-color: antiquewhite;
  }
  .box {
    display: flex;
    justify-content: center;
    margin-top: 134px;
  }
  button {
    margin: 4px;
    border: 2px solid;
    border-radius: 30px;
    padding: 14px;
    font-size: 14px;
    font-weight: 800;
  }
  button:hover{
    background-color: rgba(0, 0, 0, 0.566);
  }
  .container {
    border: 4px solid #13695d;
    background-color: #101010b3;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
  }
  #screen {
    width: 89%;
    border: 4px solid;
    height: 25px;
    border-radius: 33px;
    padding: 0px 10px;
  }
  table {
    margin: auto;
  }